body {
  background-color: #f4fdfa; /* Warna latar sedikit menyesuaikan nuansa Minty */
}

/* Menghilangkan efek link bawaan browser */
a.text-decoration-none {
  color: inherit;
}

/* Animasi untuk kartu menu */
.app-card {
  cursor: pointer;
  border-radius: 16px;
  border: none;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  background-color: #ffffff;
  height: 100%;
}

.app-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1) !important;
}

/* Animasi untuk ikon di dalam kartu */
.app-card i {
  transition: transform 0.3s ease;
}

.app-card:hover i {
  transform: scale(1.15);
}
